<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="fonts/iconfont.css" rel="stylesheet" />
		<link href="css/details.css" rel="stylesheet" />
		<link href="css/article.css" rel="stylesheet" />
        <script type="text/javascript" src="js/article.js"></script>
	</head>

	<body>

		<div class="wrapper">
		<div class="mui-inner-wrap">
				<div class="mui-content">
					<div class="article-container">
						<p>mainnews</p>
                    </div>
				</div>
			</div>

		</div>
	</body>

</html>