.layui-m-layer {
  position: relative;
  z-index: 19891014; }

.layui-m-layer * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.layui-m-layermain, .layui-m-layershade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.layui-m-layershade {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: auto; }

.layui-m-layermain {
  display: table;
  font-family: Helvetica, arial, sans-serif;
  pointer-events: none; }

.layui-m-layermain .layui-m-layersection {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.layui-m-layerchild {
  position: relative;
  display: inline-block;
  text-align: left;
  background-color: #fff;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .2s;
  animation-duration: 0.2s; }

@-webkit-keyframes layui-m-anim-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes layui-m-anim-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }
.layui-m-anim-scale {
  animation-name: layui-m-anim-scale;
  -webkit-animation-name: layui-m-anim-scale; }

@-webkit-keyframes layui-m-anim-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(800px);
    transform: translateY(800px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes layui-m-anim-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(800px);
    transform: translateY(800px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.layui-m-anim-up {
  -webkit-animation-name: layui-m-anim-up;
  animation-name: layui-m-anim-up; }

.layui-m-layer0 .layui-m-layerchild {
  width: 90%;
  max-width: 640px; }

.layui-m-layer1 .layui-m-layerchild {
  border: none;
  border-radius: 0; }

.layui-m-layer2 .layui-m-layerchild {
  width: auto;
  max-width: 260px;
  min-width: 40px;
  border: none;
  background: 0 0;
  box-shadow: none;
  color: #fff; }

.layui-m-layerchild h3 {
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px 5px 0 0;
  text-align: center; }

.layui-m-layerbtn span, .layui-m-layerchild h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.layui-m-layercont {
  padding: 30px;
  line-height: 22px;
  text-align: center; }

.layui-m-layer1 .layui-m-layercont {
  padding: 0;
  text-align: left; }

.layui-m-layer2 .layui-m-layercont {
  text-align: center;
  padding: 0;
  line-height: 0; }

.layui-m-layer2 .layui-m-layercont i {
  width: 25px;
  height: 25px;
  margin-left: 8px;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: layui-m-anim-loading 1.4s infinite ease-in-out;
  animation: layui-m-anim-loading 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.layui-m-layerbtn, .layui-m-layerbtn span {
  position: relative;
  text-align: center;
  border-radius: 0 0 5px 5px; }

.layui-m-layer2 .layui-m-layercont p {
  margin-top: 20px; }

@-webkit-keyframes layui-m-anim-loading {
  0%, 100%, 80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
@keyframes layui-m-anim-loading {
  0%, 100%, 80% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.layui-m-layer2 .layui-m-layercont i:first-child {
  margin-left: 0;
  -webkit-animation-delay: -.32s;
  animation-delay: -0.32s; }

.layui-m-layer2 .layui-m-layercont i.layui-m-layerload {
  -webkit-animation-delay: -.16s;
  animation-delay: -0.16s; }

.layui-m-layer2 .layui-m-layercont > div {
  line-height: 22px;
  padding-top: 7px;
  margin-bottom: 20px;
  font-size: 14px; }

.layui-m-layerbtn {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 0;
  border-top: 1px solid #e0e0e0;
  background-color: #f6f6f6; }

.layui-m-layerbtn span {
  display: block;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  font-size: 14px;
  cursor: pointer; }

.layui-m-layerbtn span[yes] {
  color: #5BBD53; }

.layui-m-layerbtn span[no] {
  border-right: 1px solid #e0e0e0;
  border-radius: 0 0 0 5px;
  color: #666; }

.layui-m-layerbtn span:active {
  background-color: #F6F6F6; }

.layui-m-layerend {
  position: absolute;
  right: 7px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  font-weight: 400;
  background: 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 30px; }

.layui-m-layerend::after, .layui-m-layerend::before {
  position: absolute;
  left: 5px;
  top: 15px;
  content: '';
  width: 18px;
  height: 1px;
  background-color: #999;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-radius: 3px; }

.layui-m-layerend::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

body .layui-m-layer .layui-m-layer-footer {
  position: fixed;
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 10px;
  background: 0 0; }

.layui-m-layer-footer .layui-m-layercont {
  padding: 20px;
  border-radius: 5px 5px 0 0;
  background-color: white; }

.layui-m-layer-footer .layui-m-layerbtn {
  display: block;
  height: auto;
  background: 0 0;
  border-top: none; }

.layui-m-layer-footer .layui-m-layerbtn span {
  background-color: white; }

.layui-m-layer-footer .layui-m-layerbtn span[no] {
  color: #666;
  border-top: 1px solid #dfdfdf;
  border-radius: 0 0 5px 5px; }

.layui-m-layer-footer .layui-m-layerbtn span[yes] {
  margin-top: 10px;
  border-radius: 5px;
  color: #FD482C; }

body .layui-m-layer .layui-m-layer-msg {
  width: auto;
  max-width: 90%;
  margin: 0 auto;
  bottom: -150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff; }

.layui-m-layer-msg .layui-m-layercont {
  padding: 10px 20px; }

body {
  font-size: 16px;
  background: #fff;
  font-family: "microsoft yahei"; }

.mui-content {
  background: #fff; }

.mui-bar-nav {
  background: #fff;
  box-shadow: none;
  border-bottom: 1px solid #dfdfdf; }

.mui-bar-tab {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

.mui-bar-nav a.mui-icon {
  color: #666; }

ul, li, p {
  list-style: none;
  margin: 0;
  padding: 0; }

em, i {
  font-style: normal; }

.font-bold {
  font-weight: bold; }

.text-gray {
  color: #999; }

.text-grayd {
  color: #888; }

.text-white {
  color: #fff; }

.text-black {
  color: #222; }

.text-primary {
  color: #428bca; }

.text-warnning {
  color: #EBB11B !important; }

.text-danger {
  color: #ff5555 !important; }

.text-info {
  color: #34C5BD; }

.text-green {
  color: #5BBD53; }

.text-pink {
  color: #AC71D5; }

.bg-white {
  background: #fff !important; }

.bg-green {
  background: #5BBD53; }

.bg-primary {
  background: #299FD8; }

.bg-warnning {
  background: #FEA429; }

.bg-danger {
  background: #F15050; }

.bg-info {
  background: #34C5BD; }

.bg-pink {
  background: #A665D1; }

.bg-red {
  background: #dd524d !important; }

.b-green {
  border: 1px solid #7CCB76; }

.b-primary {
  border: 1px solid  #59B5E1; }

.b-warnning {
  border: 1px solid  #F0C655; }

.b-danger {
  border: 1px solid  #F36B6B; }

.b-info {
  border: 1px solid  #69D8D2; }

.b-pink {
  border: 1px solid  #C69BE1; }

.img-circle {
  border-radius: 100%;
  -webkit-border-radius: 100%; }

.text-und {
  text-decoration: line-through;
  color: #aaa; }

.mui-padded {
  padding: 10px 15px !important; }

.mui-padded p {
  font-size: 15px !important;
  color: #555;
  line-height: 24px; }

.mui-padded img {
  max-width: 100%;
  margin: 10px 0; }

.rad {
  border-radius: 100px;
  padding: 3px 10px !important; }

.mui-btn {
  border: 1px solid #e6e6e6; }

.mui-btn.mui-btn-md {
  border: 1px solid #e6e6e6;
  padding: 5px 20px; }

.mui-btn-green, .mui-btn-success {
  color: #fff;
  border: 1px solid #5BBD53;
  background-color: #5BBD53; }

.mui-btn-green.mui-active:enabled, .mui-btn-green:enabled:active, .mui-btn-success.mui-active:enabled, .mui-btn-success:enabled:active {
  color: #fff;
  border: 1px solid #47A840;
  background-color: #47A840; }

.mui-btn-outlined.mui-btn-green, .mui-btn-outlined.mui-btn-positive, .mui-btn-outlined.mui-btn-success {
  color: #5BBD53; }

.mui-btn-warning, .mui-btn-yellow {
  color: #fff;
  border: 1px solid #ffa726;
  background-color: #ffa726; }

.mui-btn-warning.mui-active:enabled, .mui-btn-warning:enabled:active, .mui-btn-yellow.mui-active:enabled, .mui-btn-yellow:enabled:active {
  color: #fff;
  border: 1px solid #FF9900;
  background-color: #FF9900; }

.mui-btn-outlined.mui-btn-warning {
  color: #FF9900; }

.mui-btn-outlined {
  background-color: transparent; }

.mui-input-row label ~ input, .mui-input-row label ~ select, .mui-input-row label ~ textarea {
  font-size: 15px; }

.bg-f0f0f0 {
  background: #f0f0f0; }

.border-0 {
  border: 0; }

.text-lg {
  font-size: 17px; }

.text-l-lg {
  font-size: 23px; }

.text-mid {
  font-size: 16px; }

.text-sm {
  font-size: 14px; }

.text-15 {
  font-size: 15px; }

.text-16 {
  font-size: 16px; }

.text-mini {
  font-size: 12px; }

.m-r-l {
  margin-right: 20px; }

.m-r {
  margin-right: 10px; }

.m-r-sm {
  margin-right: 5px; }

.m-l {
  margin-left: 10px; }

.m-l-sm {
  margin-left: 5px; }

.m-b {
  margin-bottom: 10px; }

.m-t {
  margin-top: 10px; }

.m-t-sm {
  margin-top: 5px; }

.m-t-n {
  margin-top: 0 !important; }

.color-black {
  color: #333 !important; }

.b-t {
  border-top: 1px solid #dfdfdf; }

.f-w {
  font-weight: 600; }

.b-after:after {
  background: #ddd;
  height: 1px !important; }

.icon-cg, .icon-chenggong, .icon-sucsess {
  font-size: 25px !important; }

.layui-m-layerchild h3 {
  margin: 0;
  color: #fff;
  height: 50px;
  font-size: 18px;
  line-height: 50px; }

.layui-m-layercont {
  font-size: 17px; }

.layui-m-layerbtn span {
  font-size: 16px; }

.layui-m-layerbtn span[yes] {
  color: #ff5555; }

.text-a-r {
  text-align: right; }

.dropDown {
  text-align: center;
  height: 40px;
  line-height: 40px; }

#gotoTop {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 11 !important;
  display: none; }

#gotoTop a {
  border: 1px solid #e6e6e6;
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  color: #999;
  font-size: 12px;
  line-height: 12px;
  background: rgba(255, 255, 255, 0.9) !important;
  filter: Alpha(opacity=90);
  background: #fff; }

#gotoTop i {
  font-size: 18px !important;
  margin-top: 3px; }

.noData {
  width: 100%;
  text-align: center;
  color: #999;
  font-size: 15px;
  padding: 30px 0; }

.noDataPs {
  width: 100%;
  text-align: center;
  position: absolute;
  color: #999;
  top: 50%;
  font-size: 15px;
  margin-top: -20%;
  left: 0; }

.noDataPs .iconfont {
  font-size: 45px;
  color: #bbb;
  margin-bottom: 20px; }

.mui-table-view:before, .mui-table-view .mui-table-view-cell:after {
  background: #e0e0e0 !important; }

.mui-table-view-inverted:after,
.mui-table-view-inverted .mui-table-view-cell:after,
.mui-table-view-inverted .mui-table-view-cell:before {
  background-color: #222 !important; }

.mui-table-view-inverted:before {
  display: none; }

.mui-table-view-cell.mui-collapse.mui-active {
  margin-top: 0; }

.leftMenu {
  position: fixed;
  cursor: pointer;
  z-index: 99;
  right: 0;
  background: rgba(255, 95, 95, 0.8);
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center; }

.leftMenu .iconfont {
  position: relative;
  font-size: 19px; }

.user-info {
  padding: 20px 15px 15px; }

.user-info .img-circle {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px; }

.user-info .mui-btn.bg-danger {
  color: #fff !important;
  border-color: #ff5f5f; }

.user-info .btn-group {
  margin-left: 50px; }

.user-info .btn-group a.mui-btn {
  padding: 4px 12px; }

.listMenu {
  width: 100%;
  margin: 0; }

.listMenu li {
  width: 100%; }

.listMenu li a {
  padding: 5px 0;
  display: block;
  color: #999 !important;
  font-size: 15px; }

.listMenu li a:active {
  color: #fff !important; }

.myLeftMenu .mui-collapse-content {
  background: none !important;
  width: 155% !important; }

.myLeftMenu .mui-table-view-cell .mui-navigate-right {
  display: block;
  width: 20%;
  height: 42px !important;
  position: absolute;
  right: 0;
  top: 0; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.wrapper.active {
  position: fixed;
  top: 0;
  bottom: 0; }

.wrapper aside {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70%;
  z-index: -1;
  background-color: #333;
  left: -70%; }

.wrapper aside.active {
  z-index: 11;
  left: 0; }

.wrapper aside li .iconfont {
  font-size: 18px !important; }

.wrapper .sidebar.backdrop {
  display: none;
  z-index: 13;
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.wrapper .mui-inner-wrap.go {
  position: relative !important;
  top: 0;
  left: 70%;
  animation: go 0.2s;
  -moz-animation: go 0.2s;
  /* Firefox */
  -webkit-animation: go 0.2s;
  /* Safari and Chrome */
  -o-animation: go 0.2s;
  /* Opera */
  z-index: 12; }

.wrapper .mui-inner-wrap.back {
  position: relative !important;
  top: 0;
  left: 0;
  animation: back 0.1s;
  -moz-animation: back 0.1s;
  /* Firefox */
  -webkit-animation: back 0.1s;
  /* Safari and Chrome */
  -o-animation: back 0.1s;
  /* Opera */
  z-index: 12; }

@keyframes go {
  from {
    left: 0px; }
  to {
    left: 70%; } }
@-moz-keyframes go /* Firefox */ {
  from {
    left: 0px; }
  to {
    left: 70%; } }
@-webkit-keyframes go /* Safari and Chrome */ {
  from {
    left: 0px; }
  to {
    left: 70%; } }
@-o-keyframes go /* Opera */ {
  from {
    left: 0px; }
  to {
    left: 70%; } }
@keyframes back {
  from {
    left: 70%; }
  to {
    left: 0; } }
@-moz-keyframes back /* Firefox */ {
  from {
    left: 70%; }
  to {
    left: 0; } }
@-webkit-keyframes back /* Safari and Chrome */ {
  from {
    left: 70%; }
  to {
    left: 0; } }
@-o-keyframes back /* Opera */ {
  from {
    left: 70%; }
  to {
    left: 0; } }
.wrapper .mui-bar.go, .wrapper .leftMenu.go {
  position: absolute !important; }

.wrapper .mui-bar-tab.go {
  position: fixed !important;
  left: 70%;
  animation: go 0.2s;
  -moz-animation: go 0.2s;
  /* Firefox */
  -webkit-animation: go 0.2s;
  /* Safari and Chrome */
  -o-animation: go 0.2s;
  /* Opera */ }

.wrapper .mui-bar-tab.back {
  position: fixed !important;
  left: 0;
  animation: back 0.1s;
  -moz-animation: back 0.1s;
  /* Firefox */
  -webkit-animation: back 0.1s;
  /* Safari and Chrome */
  -o-animation: back 0.1s;
  /* Opera */ }

.share-popover {
  width: 100%;
  background: #f3f3f3;
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 999; }

.shareUl {
  overflow: hidden;
  margin: 0;
  padding: 10px 0; }

.shareUl li {
  width: 20%;
  text-align: center;
  float: left;
  margin: 5px 0; }

.shareUl li span {
  margin-bottom: 5px;
  font-size: 25px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  background: #fff;
  border-radius: 100%; }

.shareUl li span.icon-kongjian:before {
  position: relative;
  top: -3px; }

.shareUl li span.icon-qq {
  color: #40A9E8; }

.cancelShare {
  background: #fff;
  border-top: 1px solid #eee;
  color: #666;
  font-size: 15px; }

.helpNav ~ .mui-content {
  padding-top: 84px !important; }

.helpNav {
  background: #f8f8f8;
  position: fixed !important;
  top: 44px;
  z-index: 9; }

.helpNav .mui-control-item {
  border-bottom: 1px solid #e6e6e6 !important; }

.helpNav .mui-control-item.mui-active {
  border-bottom: 2px solid #f85959 !important;
  color: #f85959 !important; }

.fbBtn {
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #888;
  background: #fff;
  width: 96%;
  border-radius: 50px;
  margin: 7px auto 0 auto;
  border: 1px solid #e6e6e6;
  text-indent: 10px; }

.mui-bar-tab {
  height: 45px; }

.fbBtn .icon-fankui1 {
  position: relative;
  top: 1px; }

#msg-list {
  height: 100%;
  overflow: auto;
  padding: 5px;
  -webkit-overflow-scrolling: touch; }

.msg-item {
  padding: 8px;
  clear: both; }

.msg-item .mui-item-clear {
  clear: both; }

.msg-item .msg-user {
  width: 38px;
  height: 38px;
  border: solid 1px #e6e6e6;
  display: inline-block;
  background: #fff;
  border-radius: 100%;
  vertical-align: top;
  text-align: center;
  float: left;
  padding: 3px;
  color: #ddd; }

.msg-item .msg-user-img {
  width: 38px;
  height: 38px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: top;
  text-align: center;
  float: left;
  color: #ddd; }

.msg-item .msg-content {
  display: inline-block;
  border-radius: 5px;
  border: solid 1px #e6e6e6;
  background-color: #FFFFFF;
  color: #333;
  padding: 8px;
  vertical-align: top;
  font-size: 15px;
  position: relative;
  margin: 0px 8px;
  max-width: 75%;
  min-width: 35px;
  float: left; }

.msg-item .msg-content img {
  display: block; }

.msg-item .msg-content .msg-content-inner {
  overflow-x: hidden; }

.msg-item .msg-content .msg-content-arrow {
  position: absolute;
  border: solid 1px #e6e6e6;
  border-right: none;
  border-top: none;
  background-color: #FFFFFF;
  width: 10px;
  height: 10px;
  left: -5px;
  top: 12px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.msg-item-self .msg-user, .msg-item-self .msg-user-img,
.msg-item-self .msg-content {
  float: right !important; }

.msg-item-self .msg-content .msg-content-arrow {
  left: auto;
  right: -5px;
  -webkit-transform: rotateZ(225deg);
  transform: rotateZ(225deg); }

.msg-item-self .msg-content,
.msg-item-self .msg-content .msg-content-arrow {
  background-color: #F1F8FC;
  border-color: #D6EAF8; }

.feedback body {
  background-color: #EFEFF4; }

.feedback input,
.feedback textarea {
  border: none !important; }

.feedback textarea {
  height: 100px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

.feedback .row {
  width: 100%;
  background-color: #fff; }

.feedback p {
  padding: 10px 15px 0; }

/*.feedback button#submit {
	width: 90%;
	height: 46px;
	left: 50%;
	-webkit-transform: translate(-50%);
}*/
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 14px; }

.feedback .hidden {
  display: none; }

.feedback .image-list {
  width: 100%;
  background-size: cover;
  padding: 10px 0 5px;
  overflow: hidden; }

.mui-btn-link {
  color: #333 !important; }

.image-list #choose {
  display: none; }

.image-list {
  padding-bottom: 8px; }

.image-list .img-list {
  margin: 0;
  padding: 0 0 0 8px; }

.image-list .img-list li {
  float: left;
  width: 76px;
  height: 76px;
  border: 1px solid #e6e6e6;
  margin: 0 5px 8px 5px;
  border-radius: 5px; }

.image-list #upload {
  text-align: center;
  line-height: 76px; }

.image-list #upload span {
  font-size: 50px;
  color: #cecece;
  -webkit-text-stroke-width: 0; }

.image-list .img-list li {
  background-size: cover;
  position: relative; }

.image-list .progress {
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3); }

.image-list .progress span {
  display: block;
  width: 0;
  height: 100%;
  background-color: #1abc9c;
  text-align: center;
  color: #FFF;
  font-size: 13px; }

.image-list .img-list li .close {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 19px !important; }

.image-list .img-list li .close .iconfont {
  font-size: 12px !important; }

/*# sourceMappingURL=help.css.map */
