<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kymart.tptp">

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 申明网络权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kymart.shop.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kymart.shop.Activity.GoodsListActivity" />
        <activity android:name="com.kymart.shop.Activity.GoodDetailsActivity" />
        <activity
            android:name="com.kymart.shop.Activity.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.kymart.shop.Activity.RegisteredActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kymart.shop.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.kymart.shop.Activity.FindPasswordActivity" />
        <activity android:name="com.kymart.shop.Activity.AllOrderActivity" />
        <activity android:name="com.kymart.shop.Activity.SettingActivity" />
        <activity android:name="com.kymart.shop.Activity.AddressActivity" />
        <activity android:name="com.kymart.shop.Activity.AddAddressActivity" />
        <activity android:name="com.kymart.shop.Activity.MoneyActivity" />
        <activity android:name="com.kymart.shop.Activity.EmptyActivity" />
        <activity android:name="com.kymart.shop.Activity.QRcodeActivity" />
        <activity android:name="com.kymart.shop.Activity.CashoutActivity" />
        <activity android:name="com.kymart.shop.Activity.JiangZYActivity" />
        <activity android:name="com.kymart.shop.Activity.ShareFriendsActivity"></activity>
    </application>

</manifest>